            <div class="card" style="width: 40rem;"> 
                <div class="card-body">
                    {% if entry.title %}
                    <h5 class="font-weight-bold"><b>{{ entry.title }}</b></h5>
                    {% else %}
                    <h5 class="card-title"><b>Untitled</b></h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 test-muted"><a href="{{ url_for('read', username=entry.author.username, id=entry.id) }}">{{ moment(entry.last_modified).format('LLLL') }}</a></h6>
                    <p>{{ entry.body }}</p>
                </div>
            </div>
