{% extends "base.html" %}

{% block app_content %}
    <h1>{{ entry.title }}</h1>
    <h2>By: {{ entry.author.username }}</h2>
    <p>{{ moment(entry.time).format('LLLL') }}</p>
    <p>{{ entry.entry }}</p>
    {% if entry.author == current_user %}
        <a class="btn btn-primary" href={{ url_for('edit', username=entry.author.username, id=entry.id) }} role="button">EDIT THIS ENTRY</a>
        <a class="btn btn-outline-danger" href={{ url_for('delete', username=entry.author.username, id=entry.id) }} role="button">DELETE THIS ENTRY</a>
    {% endif %}
{% endblock %}

